@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Silkscreen:wght@400;700&family=Tiny5&family=VT323&display=swap');

body {
    background-color: lightblue;
    font-family: 'Pixelify Sans', sans-serif;
}

h1, h2 {
    font-family: 'Press Start 2P', cursive;
}

.site-title {
    width: 450px;
    margin: 0 auto;
}

.list-genre {
    font-size: 24px;
}


hr {
    border: none;
    height: 4px;
    background-color: #000000;
    width: 100%;
    margin: 35px auto;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}