{% extends 'quotes/base.html' %}

{% block content %}
<h2>Hello There</h2>
<p>This page displays famous quotes by the Sith Lord Darth Vader.</p>
<br>
<p>Darth Vader is a major villain in Star Wars. He is a powerful Sith Lord who serves the Galactic Empire and uses the dark side of the Force. Once a Jedi named Anakin Skywalker, he becomes Vader after falling to fear, anger, and ambition. He is known for his black armor, deep breathing, red lightsaber, and tragic connection to Luke Skywalker.
</p>
{% endblock %}