<!--Defines the shared page structure, navigation, stylesheet, and content blocks 
used by all templates. -->
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Mini Insta</title>
         <link rel="stylesheet" href="{% static 'mini_insta/style.css' %}">
    </head>
    <body>
        <header>
            <h1 id="main-header">Mini Insta</h1>
            <nav>
                {% if request.user.is_authenticated %}
                    <p>Logged in as: {{request.user}}</p>
                    <br>
                    <a href="{% url 'logout_page' %}">Logout</a>
                {% else %}
                    <p>Not logged in</p>
                    <br>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <nav>
                <div class="navigation-icons">
                {% if profile.pk %}
                    {% if request.user.is_authenticated and request.user == profile.user %}
                        <a href="{% url 'show_feed' %}"><img src="https://cdn-icons-png.flaticon.com/512/3386/3386036.png" id="home"></a>
                        <a href="{% url 'search_results' %}"><img src="https://static.thenounproject.com/png/3255265-200.png" id="search-icon"></a>
                    {% endif %}
                {% else %}
                    <a href="{% url 'show_all_profiles' %}"><img src="https://cdn-icons-png.flaticon.com/512/3386/3386036.png" id="home"></a>
                {% endif %}
                </div>
            </nav>
        </footer>
    </body>
</html>