{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Mini Insta</title>
         <link rel="stylesheet" href="{% static 'mini_insta/style.css' %}">
    </head>
    <body>
        <header>
            <h1 id="main-header">Mini Insta</h1>
            <nav></nav>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
            <a href="{% url 'show_all_profiles' %}"><img src="https://cdn-icons-png.flaticon.com/512/1946/1946488.png" id="home"></a>
            <nav>
                {% if profile %}
                   <a href="{% url 'create_post' profile.pk %}">Create Post</a>
                {% endif %}
            </nav>
        </footer>
    </body>
</html>