<!--Displays a user's profile information, posts, follower count, following
 count, and profile-related actions.-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<h3>{{profile.username}}</h3>

<div class="top-header">
    <img src="{{profile.profile_image_url}}">
    <h1>{{profile.display_name}}</h1>
    <a href="{% url 'update_profile' profile.pk %}" id="update-button">Update Profile</a>
</div>
    <!--Displays the profile information-->
    <div class="profile-information">
        <div class="profile-stats">   <p>Posts</p> <p>TBD</p> </div>
        
        <div class="profile-stats"> <p>Followers</p> <p>{{profile.get_num_followers}}</p></div>

        <div class="profile-stats">  <p>Following</p> <p>{{profile.get_num_following}}</p></div>
    </div>
    
    <a href="{% url 'show_followers' profile.pk %}" class="button">See Followers</a>
    <a href="{% url 'show_following' profile.pk %}" class="button">See Following</a>
    <h2>{{profile.bio_text}}</h2>

    <h1>Posts</h1>
    {% for post in profile.get_all_posts %}
        <!--Displays all posts created by this profile-->
        <div class="profile-post">
            <h3>{{post.caption}}</h3>
            {% if post.get_all_photos %}
                <div class="post-photos">
                    <img src="{{post.get_first_photo.get_image_url}}">
                </div> 
            {% else %}
                <h3>No Photos</h3>
            {% endif %}
            <a href="{% url 'show_post' post.pk %}">See Post</a>
        </div>
    {% endfor %}
    <a href="{% url 'create_post' profile.pk %}" id="create_post">Create Post</a>
    <footer>
        <nav>
            <a href="{% url 'show_all_profiles' %}"><img src="https://www.svgrepo.com/show/114939/go-back-arrow.svg"></a>
        </nav>
    </footer>
     
{% endblock %}