<!--Displays a user's profile information, posts, follower count, following
 count, and profile-related actions.-->

{% extends 'mini_insta/base.html' %}

{% block content %}
<br>
<a class="button" href="{% url 'show_all_profiles' %}">
    ← Back to profiles
</a>

<h3 id="profile-username">{{profile.username}}</h3>

<div class="top-header">
    <img src="{{profile.profile_image_url}}">
    <h1>{{profile.display_name}}</h1>
    {% if request.user.is_authenticated and request.user == profile.user %}
        <a href="{% url 'update_profile' %}" id="update-button">Update Profile</a>
    {% endif %}
</div>
    <!--Displays the profile information-->
    <div class="profile-information">
        <div class="profile-stats">   <p>Posts</p> <p>TBD</p> </div>
        
        <div class="profile-stats"><a href="{% url 'show_followers' profile.pk %}"> <p>Followers</p> <p>{{profile.get_num_followers}}</p> </a></div>

        <div class="profile-stats"><a href="{% url 'show_following' profile.pk %}"> <p>Following</p> <p>{{profile.get_num_following}}</p> </a></div>
    </div>
    

    <h2>{{profile.bio_text}}</h2>

    {% if request.user.is_authenticated and logged_in_user != profile %}
        {% if is_following %}
            <a href="{% url 'delete_follow_profile' profile.pk %}" class="button">Unfollow</a>
        {% else %}
            <a href="{% url 'follow_profile' profile.pk %}" class="button">Follow</a>
        {% endif %}
    {% endif %}

    <h1>Posts</h1>
    {% if request.user.is_authenticated and request.user == profile.user %}
        <a href="{% url 'create_post' %}" id="create_post">Create Post</a>
    {% endif %}

    {% for post in profile.get_all_posts %}
        <!--Displays all posts created by this profile-->
        <div class="profile-post">
            <h3>{{post.caption}}</h3>
            {% if post.get_all_photos %}
                <div class="post-photos">
                    <img src="{{post.get_first_photo.get_image_url}}">
                </div> 
            {% else %}
                <h3>No Photos</h3>
            {% endif %}
            <a href="{% url 'show_post' post.pk %}">See Post</a>
        </div>
    {% endfor %}
{% endblock %}