{% extends 'mini_insta/base.html' %}

{% block content %}
<form action="{% url 'update_post' post.pk %}" method="POST">
    {% csrf_token %}
    <table>
        {{form.as_table}}
    </table>
    <div class="form-buttons">
        <input type="submit" value="Update" class="form-buttons">
        <a href="{% url 'show_post' post.pk %}" class="cancel-button">Cancel</a>
    </div>
</form>
<footer>
        <nav>
            <a href="{% url 'show_post' post.pk %}"><img src="https://www.svgrepo.com/show/114939/go-back-arrow.svg"></a>
        </nav>
    </footer>
{% endblock %}