img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
    padding: 20px;
}

.profile:hover {
    background-color: rgb(164, 208, 235);
    opacity: 0.8;
    transform: scale(1.01);
    border-radius: 10px;
}

.class {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    text-align: center;
}